body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: blue;
  text-align: center;
}

p {
  line-height: 1.6;
}

ul {
  padding-left: 1rem;
  line-height: 1.6;
}

li {
  font-size: 1rem;
  color: brown;
}

/* Form Styling */
form {
  margin-top: 1.5rem;
}

form label,
form input {
  display: block;
  margin-bottom: 0.75rem;
}

/* Card Layout */
.card-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  color: red;
}

.card {
  flex: 1 1 250px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.card p {
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);   
  gap: 1rem;
  margin-top: 2rem;
}
.grid-item {
  background-color: #f4f4f4;
  padding: 1rem;
  border: 1px solid yellow;
  border-radius: 6px;
  text-align: center;
font-size: 1.2rem;
}
.grid-item:hover {
  background-color: gold;
    cursor: pointer;
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin-top: 2rem;

  }
}