*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}
div#root{
  padding: 20px;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px;
}